

:host {
  ::ng-deep {


    .p-dialog {
      max-height: 70%;
      .p-dialog-header {
        width: 100%;
        height: 40px;
        background-color:  #006d50;
        color: #fff;
        align-items: center;
        align-self: stretch;
        display: flex;
        padding: var(--spacing-xs, 4px) var(--spacing-md, 12px);
        justify-content: space-between;
        border-radius: var(--border-radius-button, 6px)
          var(--border-radius-button, 6px) var(--border-radius-none, 0px)
          var(--border-radius-none, 0px);
        background: var(--primary-main, #006d50);
        font-size: 16px;
      }
    }

    .p-fluid {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }

    .p-datatable-table {
      overflow-x: scroll;
      max-height: fit-content;
    }
    .p-dialog-content {
      padding: 12px;
    }
    .p-button {
      background-color: #006d50;
      &.p-button-secondary {
        background-color: #DBE5E1;
        color: #0F1915;
        border: none;
      }
    }
  }
}


.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;


  .text {
    display: flex;
    align-items: flex-start;
    color: var(--white, #fff);
    font-family: Noto Sans TC;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.4px;
  }

  .body {
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .footer {
    width: 100%;
    height: 64px;
    background: var(--white, #fff);
  }
}
