<div>
  <p-button (click)="showDialog()" label="頻率"></p-button>
  <div>
    <p-dialog
      header="Header"
      [(visible)]="visible"
      [style]="{ width: '35vw' }"
      class="p-dialog-header"
    >
      <ng-template pTemplate="header">
        <span class="text-xl font-bold">請選擇頻率</span>
      </ng-template>
      <ng-template pTemplate="body">

        <div class="lg:col-12 mb-2 p-0">
          <span class="p-fluid p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              placeholder="關鍵字搜尋"
            />
          </span>
        </div>

        <!-- <input type="text" name="text" [(ngModel)]="searchText" placeholder="關鍵字搜尋" /> -->
        <p-table
          [value]="tempItemListArray"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50%">代碼</th>
              <th st yle="width:50%">名稱</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr *ngFor="let item of tempItemListArray">
              <td>{{ item.keys }}</td>
              <td>{{ item.values }}</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          (click)="visible = false"
          type="button"
          label="取消"
          class="p-button-secondary"
        ></button>
        <button
          pButton
          pRipple
          (click)="visible = false"
          type="button"
          label="確定"
        ></button>

        <!-- <p-button icon="pi pi-check" (click)="visible = false" label="取消" styleClass="p-button-text"></p-button> -->
        <!-- <p-button icon="pi pi-check" (click)="visible = false"  label="確定" styleClass="p-button-text"></p-button> -->
      </ng-template>
    </p-dialog>
  </div>
</div>
